<h1>Edit <%= @lodging.title %></h1>

<%= render partial: 'shared/errors' %>

<form action="<%= users_lodging_path(@lodging) %>" method="put">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="title">Title</label>
    <input type="text" name="lodging[title]" id="title" value="<%= @lodging.title %>">

    <label for="description">Description</label>
    <textarea id="description" name="lodging[description]"><%= @lodging.description %></textarea>

    <label for="max_guests">What is the maximum capacity?</label>
    <input type="number" id="max_guests" name="lodging[max_guests]" value="<%= @lodging.max_guests %>" min="1" max="100" step="1">
    
    <label for="status">Status</label>
    <select name="lodging[status]">
        <% Lodging.statuses.keys.each do |status| %>
            <option <%= 'selected' if @lodging.status == status %>><%= status %></option>
        <% end %>
    </select>
    
    <input type="submit" value="Update Lodging">
</form>