<div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
  <h1 class="text-base font-semibold leading-6 text-gray-900">Lodgings</h1>
</div>

<% if @lodgings.empty? %>
  <div class="text-center">
    <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
    </svg>
    <h3 class="mt-2 text-sm font-semibold text-gray-900">No Lodgings</h3>
    <p class="mt-1 text-sm text-gray-500">Get started by creating a new lodging.</p>
    <div class="mt-6">
      <button id="newLodgingButton" type="button" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        <svg class="-ml-0.5 mr-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
        New Lodging
      </button>
    </div>
  </div>
<% else %>
  <ul role="list" class="divide-y divide-gray-100">
    <% @lodgings.each do |lodging| %>
      <li class="relative flex justify-between gap-x-6 py-5">
        <div class="flex min-w-0 gap-x-4">
          <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">
              <a href="#">
                <span class="absolute inset-x-0 -top-px bottom-0"></span>
                <%= link_to lodging.title, users_lodging_path(lodging) %>
              </a>
            </p>
            <p class="mt-1 flex text-xs leading-5 text-gray-500">
              <a href="mailto:leslie.alexander@example.com" class="relative truncate hover:underline"><%= "#{lodging.street} #{lodging.address2} #{lodging.city} #{lodging.state}" %></a>
            </p>
          </div>
        </div>
        <div class="flex shrink-0 items-center gap-x-4">
          <div class="hidden sm:flex sm:flex-col sm:items-end">
            <p class="text-sm leading-6 text-gray-900"><%= lodging.status %></p>
            <p class="mt-1 text-xs leading-5 text-gray-500">Created at: <%= lodging.created_at %></time></p>
          </div>
        </div>
      </li>
      <%= button_to 'Edit', edit_users_lodging_path(lodging), method: :get %>
      <%= button_to 'Delete', users_lodging_path(lodging), method: :delete %>
    <% end %>  
  </ul>
<% end %>

<script>
  document.getElementById("newLodgingButton").addEventListener("click", function() {
    window.location.href = "<%= new_users_lodging_path %>";
  });
</script>